.intentos{
	background-color: rgb(248, 250, 244);
	height: 500px;
}

.tope{
	background-color: #DDE;
	padding-bottom: 7px;

}

.option{
	background-color:	#1E90FF;
	font-size: 40px;
	font-family: courier;
	font-weight: 900;
	margin: 5px;
	width: 76px;
	border-color: black;
}

.option p{
	font-size: 20px;
}
